header{
    background-image: url("https://www.open.kg/uploads/posts/2022-11/screenshot_10.png");
    color:white;
    text-align: center;
    height: 400px;
}

body{
    background-color: rgb(162, 197, 185);
}

header h1{
    margin: 20px;
    font-size: 60px;
}

h1{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

.menu-item{
    text-decoration: none;
    color: rgb(0, 21, 139);
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
}

.menu-item:hover{
    background-color: rgb(128, 4, 0);
    color: white;
}

table{
    border: 5px double rgb(42, 112, 95);
    width: 800px;
    background-color: white;
}

td{
    padding: 5px;
   border: 1px double rgb(42, 112, 95); 
}

.center{
    display: flex;
    justify-content: center;
}

.images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
